<div>
  <p-tabView (onChange)="handleChange($event)">
    <p-tabPanel header="px to rem">
      <ng-container [ngTemplateOutlet]="calculator" [ngTemplateOutletContext]="{option: 1}"></ng-container>
      <ng-container [ngTemplateOutlet]="configuration"></ng-container>
    </p-tabPanel>
    <p-tabPanel header="rem to px">
      <ng-container [ngTemplateOutlet]="calculator" [ngTemplateOutletContext]="{option: 2}"></ng-container>
      <ng-container [ngTemplateOutlet]="configuration"></ng-container>
    </p-tabPanel>
  </p-tabView>
</div>

<ng-template #calculator let-option="option">
  <div class="d-flex position-relative">
    <div class="form-group mr-3">
      <label for="value">{{option === 1 ? 'Px' : 'Rem'}}</label>
      <input class="form-control" id="value" type="text" pInputText [(ngModel)]="value">
    </div>
    <div class="form-group">
      <label for="result">{{option === 1 ? 'Rem' : 'Px'}}</label>
      <input class="form-control result" id="result" type="text" [readOnly]="true" [ngModel]="result" pInputText
        ngxClipboard [cbContent]="resultWithUnit" [pTooltip]="'Copied!'" [tooltipEvent]="'focus'" [hideDelay]="1000"
        [tooltipPosition]="'top'">
    </div>
    <i class="pi pi-cog configuration" (click)="showConfiguration = !showConfiguration"></i>
  </div>
</ng-template>

<ng-template #configuration>
  <div *ngIf="showConfiguration">
    <hr />
    <div class="form-group">
      <label for="defaultValue">Default pixel size</label>
      <input class="form-control" id="defaultValue" type="text" pInputText [(ngModel)]="defaultValue">
    </div>
  </div>
</ng-template>
